<!DOCTYPE html>
<html>
<head>
    <!--<meta charset="UTF-8">-->
    <title>hello</title>
    <!--<link rel="shortcut icon" href="../../static/images/test.png" type="image/png"/>-->

    <link rel="stylesheet" href="../../login/static/css/hello.css">
    <!--<style>-->
        <!--body{-->
            <!--width: 35em;-->
            <!--margin: 0 auto;-->
            <!--font-family: Arial, Verdana;-->
        <!--}-->
    <!--</style>-->
</head>
<body id="body">

    <h1>Welcome to myFlaskProject</h1>
    <a href="../login/index">index页面</a>
    <button onclick=test()>确定</button>
    <div id="render_data"></div>
    <ul id="table"></ul>
    <!--<img src="{{ url_for('login.static', filename='images/my.png') }}">-->
    <img src="../../login/static/images/my.png" alt="danni">
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="../../login/static/js/hello.js"></script>
<!--<script>-->
    <!--let name = "丹妮";-->
    <!--test();-->
    <!--function test(){-->
    <!--console.log("点击事件")-->
    <!--$.ajax({-->
    <!--url:"../manager/getuser",-->
    <!--method: "POST",-->
    <!--data:{-->
       <!--"user" : name-->
    <!--},-->
    <!--success:function(data){-->
        <!--console.log(data.data);-->
        <!--render(data);-->
    <!--},-->
    <!--error:function (e){-->
        <!--console.log("接口访问失败");-->
    <!--}-->
    <!--})-->
    <!--}-->
    <!--function render(data){-->
        <!--let obj = data.data;-->
        <!--let name = obj[0].nickname;-->
        <!--console.log(name);-->
        <!--$("#render_data").val(name);-->
        <!--let render = document.getElementById("render_data");-->
        <!--render.innerHTML = `<div>${name}<div>`;-->
        <!--let table = document.createElement("ul");-->
        <!--document.getElementById("body").appendChild(table);-->
        <!--for(let i = 0;i<obj.length;i++){-->
            <!--let nickname = obj[i].nickname;-->
            <!--let password = obj[i].password;-->
            <!--table.innerHTML += `<li>昵称:${nickname} 密码:${password}</li>`;-->
        <!--}-->
    <!--}-->
<!--</script>-->
</body>
</html>